<!--<div class="head">
 <div>Welcom to TCC</div> 
<br><br>
<div style="font-size: large;">Technical Computer collage

</div>

<input type="text"  InputRange  [minValue]="'0'"  maxValue="10" minValue="2" keypress="onKeydownHandler($event)"keyup="onKeyUpHandler($event)">


</div>
<div class="container" style="padding-top: 7%; padding-right: 15%;">
<div class="row">
    <div class="col-lg-4">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>الاعدادات الرئيسية</h2></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/setting.png" class="imageStyle"  alt="Photo of a Shiba Inu">
    <mat-card-content>
    
    </mat-card-content>
    <mat-card-actions>
    
    </mat-card-actions>
  </mat-card>
</div>
<div class="col-lg-4">
    <mat-card class="example-card">
        <mat-card-header>
         
          <mat-card-title><h2>الخطة الدراسية</h2></mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="assets/img/studyplan.png"  class="imageStyle" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            اضافة خطة دراسية
          </p>
          <p>
            عرض خطة دراسية
          </p>
        </mat-card-content>
        <mat-card-actions>
          
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card class="example-card">
          <mat-card-header>
           
            <mat-card-title><h2> الطلاب</h2></mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/student.png"  class="imageStyle" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              معادلة علمات الطلاب المنقولين
             </p>
             <p>
      اضافة علمات مادة
              </p>
              <p>
              عرض علمات مادة
              </p>
            <p>
           تسجيل الطالب
            </p>
            <p>
              عرض الطالب
               </p>
               <p>
                  التقارير 
                   </p>
          </mat-card-content>
          <mat-card-actions>
           
          </mat-card-actions>
        </mat-card>
      </div>
      
</div>


</div>-->

