<br>
<div class="container">
  <div class="panel-body mat-elevation-z8">
    <div class="card">
      <div class="card-body">
        <p class="font-weight-bold" style="text-align: right; "> &nbsp; الطلاب المنقولون </p>
        <!--  <h1>بحث على حسب</h1> 
      <div class="row">
      
      <div class="col-lg-2">
        <mat-form-field>
          <mat-lable>الاسم الاول</mat-lable>
          <input matInput [(ngModel)]="firstName" (keyup)="allFilter()"  class="form-control" 
          aria-label="Search">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <mat-lable>اسم الاب</mat-lable>
          <input matInput [(ngModel)]="fatherName" (keyup)="allFilter()"  class="form-control" 
          aria-label="Search">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <mat-lable>الاسم الاخير</mat-lable>
          <input matInput  [(ngModel)]="lastName" (keyup)="allFilter()" class="form-control" 
          aria-label="Search">
        </mat-form-field>
      </div>
    
      <div class="col-lg-2">
       
        <mat-form-field >
          <mat-lable>الاختصاص</mat-lable>
          <mat-select [(ngModel)]="SpecializationId" name="SpecializationId" 
          (ngModelChange)="allFilter()" style="padding-top: 20px;" >
            <mat-option *ngFor="let item of SpecializationService.specialall" [value]="item.Id">
              {{item.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
 
      </div>-->
        <mat-form-field>
          <mat-label>البحث</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="البحث" class="form-control" aria-label="Search">
        </mat-form-field>


        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم الطالب </th>
            <td mat-cell *matCellDef="let element"> {{element.FirstName}}</td>
          </ng-container>
          <ng-container matColumnDef="FatherName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم الاب </th>
            <td mat-cell *matCellDef="let element"> {{element.FatherName}} </td>
          </ng-container>
          <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> الاسم الاخير </th>
            <td mat-cell *matCellDef="let element">{{element.LastName}}</td>
          </ng-container>
          <ng-container matColumnDef="specialaztion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> اختصاص الطالب </th>
            <td mat-cell *matCellDef="let element">{{element.Specialization.Name}} </td>
          </ng-container>
          <ng-container matColumnDef="More">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> معادلة مواد الطالب </th>
            <td mat-cell *matCellDef="let element">

              <button class="btn btn-outline-primary" (click)="showStudentDegree(element.Ssn)">
                معادلة مواد الطالب
              </button>

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <h2 *ngIf="HiddenMessage" style="margin: 10px;text-align: center;"> {{NoDataFound}}</h2>
        <mat-paginator [pageSizeOptions]="[5, 10, 20,30]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>