table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: hsl(0, 0%, 0%);
    
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  td{text-align: center;}
  
  
  active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .mat-header-cell{
font-size: 18px;
  }
  .mat-cell{
    font-size: 16px;
  }