<p class="font-weight-bold"> محافظات	  </p>


        <div class="panel-body mat-elevation-z8" *ngIf="roleservic.CanAddcity()">
          <div class="card">
            <div class="card-body">
          <form  #myform="ngForm" >
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <h3 for="Name">الاسم</h3>
                <input type="text" class="form-control" [(ngModel)]="service.country.Name" name="Name" #Name="ngModel"
                  [class.is-invalid]="Name.invalid && Name.touched" maxlength="50" (keyup)="GetSimilarForAdd(service.country)"
                  placeholder="" value="" required autocomplete="off">
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" *ngIf="semelar!=null"> يوجد مشابه و هي : {{semelar.Name}}</a>
                <small class="text-danger" [class.d-none]="Name.valid || Name.untouched">ادخل الاسم</small>
                <br>
                <h4 *ngIf="error()" style="color:red;">{{errorMessage}} </h4>
              </div>
              <div class="col-md-4 mb-3">
                <div class="form-group">
                    <h3 for="mainCountry">البلدان</h3>
                  <select [(ngModel)]="service.country.MainCountry" name="MainCountry" id="mainCountry" class="form-control" >
                    <option>--اختر--</option>
                    <option *ngFor="let item of mainservic.maincountryall" [value]="item.Id">{{item.Name}}</option>
                  </select>
                  </div></div>
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <div class="form-check">
                  
                    <!-- The checkbox -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <!-- Default checked -->
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input " checked id="check1"  [(ngModel)]="service.country.IsEnabled"
              [class.is-invalid]="" name="IsEnabled">
              <label class="custom-control-label"  for="check1">فعالة</label>
            </div>
          </li>
        </ul>
      </div>
                  </div>
                </div>
         
            </div>
      
            <button class="btn btn-outline-primary"   (click)="submit(myform)" [disabled]="error()">اضافة</button>
          </form>
        </div></div>
       
        </div>
  
   <br> <br> <br>
<mat-form-field>
  <mat-h3></mat-h3>
  <input matInput (keyup)="applyFilter($event)" placeholder="البحث" class="form-control" 
  aria-label="Search" *ngIf="roleservic.CanShowcity()">
</mat-form-field>


 
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="roleservic.CanShowcity()">
      
    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> الاسم </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="IsEnabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> فعالة </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="custom-control custom-checkbox " style="margin-right: -10px;">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="element.IsEnabled" name="IsEnabled">
          <label class="custom-control-label" for="IsEnabled"></label>
        </div>  
      </td>
    </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="Country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> البلد </th>
      <td mat-cell *matCellDef="let element"> {{element.Country.Name}} </td>
    </ng-container>

       <!--  Column -->
  <ng-container matColumnDef="Created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الإنشاء </th>
    <td mat-cell *matCellDef="let element"> {{element.Created | date: 'yyyy/MM/dd'}} </td>
  </ng-container>

  <!--  Column -->
  <ng-container matColumnDef="CreatedBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> تم الانشاء بواسطة </th>
    <td mat-cell *matCellDef="let element"> {{element.CreatedBy }} </td>
  </ng-container>
  <!--  Column -->
  <ng-container matColumnDef="Modified">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ التعديل </th>
    <td mat-cell *matCellDef="let element"> {{element.Modified | date: 'yyyy/MM/dd'}} </td>
  </ng-container>

  <!--  Column -->
  <ng-container matColumnDef="ModifiedBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> تم التعديل بواسطة </th>
    <td mat-cell *matCellDef="let element"> {{element.ModifiedBy}} </td>
  </ng-container>
       <!-- Weight Column -->
       <ng-container matColumnDef="More">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> خيارات </th>
        <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-outline-primary"
           data-toggle="modal" (click)="fillData(element)" data-target="#Edit" *ngIf="roleservic.CanUpdatecity()">
          تعديل
          </button>
          <div class="modal fade" id="Edit" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <button type="button" class="close" (click)=closeModal() data-dismiss="modal" >&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <h1 class="modal-title">تعديل المحافظة</h1>

                  <form  #myform="ngForm">
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <input type="hidden" name="Id" [(ngModel)]="service.country.Id">
                        <h3 for="name">الاسم</h3>
                        <input type="text" class="form-control"(keyup)="GetSimilarForUpdate(service.country)"
                          [(ngModel)]="service.country.Name" name="name"
                        #name="ngModel"  [class.is-invalid]="name.invalid && name.touched" maxlength="50"  placeholder="" value="Mark" required >
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched  ">ادخل الاسم</small>
                        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" *ngIf="semelar!=null">
                          يوجد مشابه و هي : {{semelar.Name}}</a>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <h3 for="mainCountry">البلدان</h3>
                          <select [(ngModel)]="service.country.MainCountry" name="MainCountry" class="form-control" >
                            <option *ngFor="let item of mainservic.maincountryall" [value]="item.Id">{{item.Name}}</option>
                          </select>
                          </div></div>
                      <div class="col-md-4 mb-3">
                        <div class="form-group">
                          <div class="form-check">
                          
                            <!-- The checkbox -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" (keyup)="GetSimilarForUpdate(service.country)"
                       [(ngModel)]="service.country.IsEnabled"name="IsEnabled">
                      
                      <label class="custom-control-label" for="check1">فعالة</label>
                    </div>
                  </li>
                </ul>
              </div>
                          </div>
                        </div>
                  
                    </div>
              
                  
                    <button class="btn btn-outline-primary"  (click)="edit(myform)"[disabled]="!UpdateValidation(service.country)"  data-dismiss="modal">ارسال </button>
                  </form>
                </div>
                
              </div>
            </div>
          </div> 
          &nbsp;
          <button class="btn btn-outline-danger" (click)="delete(element.Id)" 
          *ngIf="roleservic.CanDeletecity()" >حذف </button>
        </td>
      </ng-container>
  
     
     

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
  <h2 *ngIf="HiddenMessage" style="margin: 10px;text-align: center;"> {{NoDataFound}}</h2>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
  

