<div class="panel-body mat-elevation-z8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6" style="text-align:right;">
<h1>أشخاص مقربون</h1>
          </div>
          <div class="col-lg-6" >
            <a style="text-align: left;" 
            data-toggle="modal"     data-target="#ClosesetPersons" >
            <img src="assets/img/plus.png" style="width: 40px;">
          </a>
          </div>
        </div>
         <!--add GetClosesetPersons-->
         <div class="modal fade" id="ClosesetPersons" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
          <div class="modal-header">
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <h1 class="modal-title" id="exampleModalScrollableTitle">
              اضافة شخص مقرب
             </h1>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field style="width: 85%;">
                      <h2>الاسم</h2>
                      <input matInput [(ngModel)]="AddClosesetPersons.Name" name="NameAddClosesetPersons"
                        maxlength="50" >
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field style="width: 85%;">
                      <h2>العنوان</h2>
                      <input matInput [(ngModel)]="AddClosesetPersons.Address" name="AddressAddClosesetPersons"
                        maxlength="50" >
                    </mat-form-field>
                  </div>
                </div>
                <h1>اضافة رقم</h1>
                <div class="row">
                
                  <div class="col-lg-6">

                    <h3>نوع الرقم</h3>
                    <select class="form-control" [(ngModel)]="AddPersonPhone.PhoneType"
                      name="PhoneTypeperson" >
                      <option *ngFor="let item of StudentInformation.PhoneTypeService.phonetypeall" [ngValue]="item">
                        {{item.Name}}
                      </option>
                    </select>

                  </div>
                  <div class="col-lg-6">
                    <mat-form-field style="width: 85%;">
                      <h2>الرقم</h2>
                      <span matPrefix> &nbsp;</span>
                      <input type="tel" matInput [(ngModel)]="AddPersonPhone.Phone" name="Phone"
                        maxlength="10" >
                      <mat-icon matSuffix></mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">

                  </div>

                  <div class="col-lg-6">
                    <br>
                    <button type="button" class="btn btn-outline-primary"
                      (click)="AddPersonPhones()">
                      +
                    </button>

                  </div>
                </div>
                <div class="row">
                  <table class="table">
                    <thead>
                      <th>نوع الرقم </th>
                      <th>الرقم</th>

                      <th></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of GetPersonPhone">
                        <td>
                          {{item.PhoneType.Name}}
                        </td>
                        <td>
                          {{item.Phone}}
                        </td>
                        <td>
                          <button class="btn btn-dark" (click)="DeletePersonPhones(item)">X</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
          
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"(click)="AddClosesetPerson()">حفظ</button>
          
          </div>
          </div>
          </div>
          </div>
         <!--end add GetClosesetPersons-->
         <table class="table">
          <thead>
            <th>اسم </th>
            <th>العنوان</th>
            <th>الارقام</th>

            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of StudentInformation.GetClosesetPersons">
              <td>
                {{item.Name}}
              </td>
              <td>
                {{item.Address}}
              </td>
              <td>
                <ul *ngFor="let phone of StudentInformation.ShowPersonPhone">
                  <li>{{phone.PhoneType.Name}}:{{phone.Phone}}</li>
                </ul>
              </td>
              <td>

                <button class="btn btn-dark" (click)="DeleteClosesetPerson(item)">X</button>
              </td>
            </tr>
          </tbody>
        </table>
        <h2 *ngIf="StudentInformation.HiddenMessage" style="margin: 10px;text-align: center;"> {{StudentInformation.NoDataFound}}</h2>

      </div>
    </div>
  </div>